@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

body {
  position: relative;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 0px;
  top: 27px;
  text-decoration: none;
}

.contacts-menu {
  display: flex;
  flex-direction: row;
  align-items: left;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 0px;
  top: 100px;
  text-decoration: none;

  letter-spacing: 0.03em;
}
