@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

/* Header and Navigation Part */
* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 1440px;
  height: 2592px;
  background: #ffffff;

  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: #2e2f42;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.nav {
  box-sizing: border-box;
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}

.index-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 27px;
  text-decoration: none;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* WEB */
.index-logo1 {
  color: #4d5ae5;
}

/* STUDIO */
.index-logo2 {
  color: #2e2f42;
}

.index-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  list-style: none;
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 12px;
  text-decoration: none;
}

.index-list .index-hyperlink {
  display: block;
  padding: 0px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #fff;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.emailadd {
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.contactno {
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}

.index-header {
  position: absolute;
  width: 1440px;  
  height: 600px;
  left: 0px;
  top: 72px;
  background: #2e2f42;
}

/* h1 Effective Solutions */
.index-h1 {
  position: absolute;
  width: 550px; /* 496px */
  height: 120px;
  left: 472px;
  top: 180px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.index-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 428px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.btn-service {
  width: 150px;
  height: 24px;
  align-self: center;
  justify-content: center;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
  position: absolute;
  width: 1200px;
  height: 72px;
  left: 156px;
  top: 780px; 
  color: black;
  padding: 0px;
  gap: 20px;
  left: 130px;
}

.column {
  width: 120%;
}

.index-section1container {
     /* layout */
     display: flex;
     width: 264px;
     flex-direction: column;

     /* typography */
     color: #434455

     /* body */
     font-size: 16px;
     line-height: 24px;
     letter-spacing: 0.32px;
}

/* For h1 heading parent class*/
.index-section2 {
  position: absolute;
  width: 1128px;
  height: 412px;
  left: 156px;
  top: 950px;
}

/* Header 2 What Are We Doing*/
.index-section2title {
  font-size: 36px;
  font-weight: 700;
  line-height: 150px; 
  letter-spacing: 0.72px;
  text-transform: capitalize;
  font-style: normal;

  /* typography */
  color: #2e2f42;
  text-align: center;
}

/* 3 images: monitor, mobile, laptop and mobile */
.insert-card:nth-child(1) img {
  object-fit: fill;
}

.insert-card:nth-child(2) img {
  object-fit: fill;
}

.insert-cardd:nth-child(3) img {
  object-fit: fill;
}

.index-section3 {
  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1450px;
}

.index-section3title {  
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  line-height: 200px; 
}

.index-section3container {
  padding: 24px;
  margin: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.insert-card > .index-label1,
.base .index-label1 {
  padding: 10px;
  font-size: 20px;
}

.insert-card > .index-label1 {  
  font-weight: 700;
  letter-spacing: -0.05em;
}

.insert-card > .index-label2,
.base > .index-label2 {
  padding: 0px;
  font-size: 14px;
}

.insert-card > .index-label2 {  
  letter-spacing: -0.05em;
}

.index-cardset {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -20px;
  margin-left: -20px;
}

/* What Are We Doing Images */
.insert-card {
  margin: 20px 0 0 20px;
  flex-basis: calc(100% / 4 - 20px);
}

.insert-card,
.base {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.insert-card:nth-child(1) img {
  object-fit: fill;
}

.insert-card:nth-child(2) img {
  object-fit: fill;
}

.insert-card:nth-child(3) img {
  object-fit: fill;
}

.insert-card:nth-child(4) img {
  object-fit: fill;
}

/* 2nd page - portfolio.html */
.buttontop-row {
  display: flex;
  flex-direction: row;  
  justify-content: center;
  padding: 12px 24px;
  align-items: center;  

   /* gap in between */
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;

  /* position */
  position: absolute;
  left: 450px;
  top: 200px;
}

/* 5 top row buttons */
:root{
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --navyblue: #2e2f42;
  --slate: #434455;
}
.buttontop {
  padding: 12px 24px 12px 24px;
  border: none;
  background: #fff;
  color: black;
  font-size: 16px;
  border-radius: 4px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--cloud, #F4F4FD);
  cursor: pointer;  
}

.buttontop:hover {
  background: #404BBF;
  color:white
}

/* 1st row images */
.image-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 360px;
  height: 420px;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 110px;
  flex-shrink: 0;  

  /* position */
  position: absolute;
  left: 150px;
  top: 350px;
}

.image-container {
  flex-basis: 30%;
  margin-bottom: 20px;
  text-align: left;

  border: 1px solid var(--cornflower, #E7E9FC);
  background: var(--white, #FFF);

  width: 250px;
  height: 250px;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.caption1 {
  color: var(--navyblue, #2E2F42);

  /* Header 3 */
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  width: 300px;
}

.caption2 {
  color: var(--slate, #434455);

  /* Body */
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;  
}

/* 2nd row images */
.image-row2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 360px;
  height: 420px;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 110px;
  flex-shrink: 0;  

  /* position */
  position: absolute;
  left: 150px;
  top: 1000px;
}

/* 3rd row images */
.image-row3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 360px;
  height: 420px;
  padding: 0px 0px 32px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 110px;
  flex-shrink: 0;  

  /* position */
  position: absolute;
  left: 150px;
  top: 1600px;
}

  /* footer */
.page-footer{
  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2220px;
  background: #2E2F42;
}

.footer_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 115px;
    height: 24px;
    left: 156px;
    top: 100px;
    text-decoration: none;

    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footer1 {
    color: #4D5AE5;

}

.logo-footer2 {
    color: #ffffff;

}

.footer-content {
    
    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 130px;
    color: white;
}